*{
    box-sizing: border-box;
}

html{

    scroll-behavior: smooth;
}
body h1{
width: 100%;
    text-align: center;
    
   
}
.casella{
    font: bold 30px Arial, Helvetica, sans-serif;
    display: inline-block;
    border: 5px solid #cc1818;
    width: 5%;
   background-color: rgb(251, 246, 255);
   padding: 1rem;
 
   
}
#tombola{
    text-align: center;
    display: inline-block;
    color: rgb(38, 0, 255);
  
} 

#number{
   
    font: bold 50px Arial, Helvetica, sans-serif;
    border-width: 10px;
    border-color: blueviolet;
    padding: 5rem 5rem;
    border-radius: 50%;
    background-color: blue;
    color: black;
   
}
.selezione{
    background-color: #cc1818;
}
.casellaSelezionata{

    background-color: #cc1818;
}